.discuss-container{
     width: 60%;
    
}
.discuss-add-container{
    width: 70%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 226, 235);
    margin-left: 10%;
    border-radius: 10px;
}
.discuss-h1{
    background-color: rgb(186, 211, 211);
    margin-top: 20px;
}
.discuss-message{
    padding-bottom: 10px;
}
.discuss-container button{
    height:40px;
    border:1px solid black;
    background-color:rgb(190, 196, 201);
}
.discuss-container button:hover{
    background-color: rgb(108, 112, 115);
    color: aliceblue;
}