.NavbarItems{
    height: 70px;
    box-shadow: rgba(50,50,93,.025) 0px 50px 100px -20px, rgba(0,0,0,0.3) 0px 30px 60px -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5 rem;
}
.navbar-logo{
    color: rgb(10, 10, 10);
    justify-self: start;
    margin-left: 20px;
    /* cursor: pointer; */
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 18px;
    list-style: none;
    text-align: center;
    justify-content: end;
    width: 70vw;
    margin-right: 2rem;
}
.nav-links{
    color: rgb(13, 13, 13);
    text-decoration: none;
    padding: 4px;
    font-size: 1.2rem;
    /* word-spacing: .02px; */
}
.nav-links:hover{
    background-color: rgba(27, 27, 27, 0.104);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
/* .nav-links-mobile{
    display: none;
} */
.menu-icon{
    display: none;
}
.nav-btn{
    color: black;
    text-decoration: none;
    padding: 4px 5px;
    border-radius: 4px;
    /* outline: none; */
    border: 1.5px solid rgb(13, 13, 13);
    cursor: pointer;
}
.nav-form{
    padding: 8px 10px;
}
.nav-btn:hover{
    transition: all 0.3s ease-out;
    color: #fff;
    background-color: rgb(15,15,15);
}
.profile-icon{
    margin-right: 1rem;
    cursor: pointer;
    margin-left: 2.5rem;
}
.profile-box{
    position: absolute;
    padding-right: 0.75rem;
    background: #ffffff;
    border: 1px solid black;
    top: 4.5rem;
    right: .5rem;
    z-index: 4;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
    box-shadow: rgba(50,50,93,.025) 0px 5px 10px -10px, rgba(0,0,0,0.3) 0px 2px 4px;
    opacity: 3;
    visibility: hidden;
    /* z-index: -1; */
}

.carousel{
    z-index: 3;
    position: relative;
}
.profile-box h2{
    margin-bottom: 0.5rem;
}
.profile-box ul{
    list-style: none;
    line-height: 1.8rem;
    
}
.profile-box ul a{
    text-decoration: none;
    color: black;
}
.profile-box ul a:hover{
    font-weight: bold;
    transition: all 0.3s ease-out;
}
.profile-box .btn{
    margin-top: 0.5rem;
}
.visible{
    visibility: visible;
    opacity: 1;
}
/* .profile-box::before{
    content:'';
    width:20px;
    height:20px;
    position:absolute;
    background: white;
    border: 1px solid black;
    right: 2.7rem;
    top:-5px;
    z-index: 1;
    transform: rotate(45deg);
} */







@media screen and (max-width:700px) {
    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 320px;
        position: absolute;
        top: 70px;
        /* bottom: 50px; */
        left: -100%;
        padding-bottom: 2rem;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .active{
        background-color: rgb(20, 20, 20);
        color: #fff;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        color: #fff;
        text-align: center;
        padding: 1.3rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color: black;
        border-radius: 0;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 8px;
        right: 0;
        transform: translate(-100%,60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .nav-btn{
        color: #fff;
    }
    
}